# Ignore virtual environment
myenv/

# Ignore IDE-specific files
.idea/
.vscode/

# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore log files
*.log

# Ignore sensitive or environment-specific files
.env

# Ignore database files
db.sqlite3
*.db
